body,html{
    overflow: hidden;
    background-color: #dfe5e8;
    
}
.menu-top{
  width: 100%;
  height: 87vh;
  padding-bottom: 10px;
}
.menu-bottom{
    width: 100%;
    height: 13vh;
    background-color: #1565c0;
    position: absolute;
    bottom: 0px;
}
.card-special {
  width: 100%;
  height: 70vh;
  box-shadow: 4px 2px 2px rgba(0,0,0,0.15);
}
.card-img{
  max-height: 80vh;
}

.card-special-2{
  width: 94%;
  height: 70vh;
  box-shadow: 4px 2px 2px rgba(0,0,0,0.15); 
  position: absolute;
  top: 22px;
  left: 40px;
  z-index: auto;
  
 
}
.card-special-3{
  width: 90%;
  height: 70vh;
  box-shadow: 4px 2px 2px rgba(0,0,0,0.15);
  position: absolute;
  top: 27px;
  left: 78px;
  z-index: auto;
  
 
}
#logo{
  width: 120px;
  height: 450px;
  position: absolute;
  bottom: 0vw;
  right: 10px;

}
.listgroup:hover{
  background-color: #1565c0;
  cursor: pointer;
  color: white;
}


#menu-name{
  font-family: 'Faster One', cursive;
  color: #C8C5C5;
  font-size: 65px;
  text-align: center;
  
}
#circle{
  border-radius: 1%;
  background-color: #0d47a1;
  height: 25vh;
  width: 100%;
  position: absolute;
  bottom: 25%;;
}
#ver-number{
  position:fixed; 
  bottom:-10px;
  right: 47%;
  color:#C8C5C5;
  font-weight: bold;
 
}
.card-title{
  position: absolute;
  bottom: 0px;
  color: black;
}
#infoTitle{
  font-weight: bold;
}
.customBTN{
  background-color: #1565c093;
  border: 0.5px solid white;
  color: white;

}
