body,html{
    overflow-x: hidden;
    background-color: white;
    width: 100%;
    height: 100vh;
    margin: 0%;
  }
.logininput{
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .logininput:focus{
    border-top: white;
    border-left: none;
    border-right: none;
  }
  *:focus {
    outline: none;
  }
  .button-s{
    width: 100%;
  }
  .group{
    width: 100%;
  }
  .logtext{
    font-family: 'Roboto', sans-serif;
    color: rgb(168, 163, 163);
  }
  .username{
    position: absolute;
    left: 0px;
    font-family: 'Roboto', sans-serif;
  
  }